.whole-app {
  width: 1000px;
}

.homepage-div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.homepage-img {
  width: 444px;
}
.quiz-heading {
  color: #3eb88c;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.icons-anchor {
  padding: 10px;
  font-size: 1rem;
}
.button-text {
  text-decoration: none;
}
.profile-name {
  font-size: 2rem;
  font-weight: 200;
  color: gray;
  font-style: italic;
}
.profile-email {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(235, 97, 72);
  font-style: italic;
}
.profile-head {
  font-size: 4rem;
  color: #3eb88c;
  font-weight: lighter;
  font-variant: small-caps;
  margin: 0;
}
